<header class="header">
   <div class="header-wrap">
      <div class="header__logo">
         <img src="../../../assets/image/wifi.svg"  class="header__logo-icon"> Media App
      </div>
      <div class="header__bar">
         <img class="header__bar-icon" src="../../../assets/image/icons8-search.svg" > 
         <input type="search" class="header__input" placeholder="search">
      </div>
   </div>
</header>
<div class="content">
   <h2 class="content__title">New Releases</h2>
   <div class="movies">
      <div class="movies__item" *ngFor="let movie of movies | paginate: { itemsPerPage: 10, currentPage: number }"
        (click)="goToMovieDetails(movie.id)">
         <div class="movies__poster">
            <img src="{{ getFullImage(movie.poster_path) }}" class="movies__poster-img">
            <span class="movies__rait">{{ movie.vote_average }}</span>
         </div>
         <div class="movies__block">
            <div class="movies__block-name">{{movie.title}}</div>
            <div class="movies__block-dateCreate">{{ movie.release_date }}</div>
         </div>
         <div class="movies__genres">
            <div class="movies__genres-item">{{getCategoryNames(movie.genre_ids)}}</div>
         </div>
         <div class="movies__favorite">
            {{ getFavorite(movie.id) ? 'In Favorite' : null  }}
         </div>
         <div class="movies__descr">
            {{ movie.overview }}
         </div>
      </div>
      <style>
        .movies__pagination-control /deep/ .ngx-pagination .current {
          background: #feb10d;
        }
      </style>
      <div class="movies__pagination">
         <pagination-controls class="movies__pagination-control" (pageChange)="number = $event" previousLabel="" nextLabel="">
         </pagination-controls>
      </div>
      
   </div>
</div>

