<header class="header">
   <div class="header-wrap">
      <div class="header__logo">
         Media App
      </div>
      <div class="header__bar">
         <input type="search" class="header__input" placeholder="search">
      </div>
   </div>
</header>
<div class="content">
   <h2 class="content__title">New Releases</h2>
   <div class="movies">
      <div class="movies__item">
         <div class="movies__poster">
            <img src="#" class="movies__poster-img">
         </div>
      </div>
   </div>
</div>
