<header class="header">
   <div class="header-wrap header-movie-details">
      <div class="header__back" (click)="back()">
         <img src="../../../assets/image/icons8-back-50.png">
      </div>
   </div>
</header>
<div class="movie-details">
   
   <div class="movie-wrap">
      <div class="movie__poster">
         <img [src]="imageUrl" class="movie__poster-img">
      </div>
      <div class="movie-info">
         <div class="movie__title">{{movieInfo.original_title}}</div>
         <div class="movie-info__item">
           <div class="movie-info__left">Release date:</div>
           <div class="movie-info__right"> {{movieInfo.release_date}} </div>
         </div>
          <div class="movie-info__item">
            <div class="movie-info__left">Countries:</div>
            <div class="movie-info__right">{{countries}}</div>
          </div>
         <div class="movie-info__item">
           <div class="movie-info__left">genre:</div>
           <div class="movie-info__right">{{genres}}</div>
         </div>
         <div class="movie-info__item">
           <div class="movie-info__left">Language:</div>
           <div class="movie-info__right">{{movieInfo.original_language}}</div>
         </div>
         <div class="movie-info__item">
           <div class="movie-info__left">Raiting:</div>
           <div class="movie-info__right">{{movieInfo.vote_average}}</div>
         </div>
         <div class="movie-info__item">
           <div class="movie-info__left">budget:</div>
           <div class="movie-info__right">{{movieInfo.budget}}</div>
         </div>
         <div class="movie-info__item">
           <div class="movie-info__left">Duration</div>
           <div class="movie-info__right">{{movieInfo.runtime}} min</div>
         </div>
        
         
      </div>
   </div>
   <div class="movie-wrap movie-descr">
      <div class="movie-wrap__description">
         {{movieInfo.overview}}
      </div>
   </div>
   <div class="movie-slider">
      <div class="movie-slider__title">Similar movies</div>
      <swiper [config]="config">
        <div class="movie-slider__item" *ngFor="let simular of movieSimulars" (click)="goToMovieDetails(simular.id)">
            <div class="movie-slider__poster">
               <img class="movie-slider__poster-image" src="{{getFullImage(simular)}}">
            </div>
            <div class="movie-slider__name">{{simular.original_title}}</div>
        </div> 
      </swiper>
   </div>

   <div class="movie-slider">
     <div class="movie-slider__title">Featured Movies</div>
     <swiper [config]="config">
       <div class="movie-slider__item" *ngFor="let recommendation of movieRecommendations" (click)="goToMovieDetails(recommendation.id)">
         <div class="movie-slider__poster">
           <img class="movie-slider__poster-image" src="{{getFullImage(recommendation)}}">
         </div>
         <div class="movie-slider__name">{{recommendation.original_title}}</div>
       </div>
     </swiper>
   </div>
</div>