@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans',
   sans-serif;
}

.header {
   // padding: 20px 30px;
   background-color: #fe4250;
   color: #fff;
   &-wrap {
      display: flex;
      align-items: center;
   }
   &__logo {
      background-color: #f73744;
      padding: 20px 50px;
      &-icon {
         display: inline-block;
         width: 15px;
         height: 15px;
      }
   }
}